/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { appendForm, encodeSimple, normalizeBlob } from "../lib/encodings.js";
import {
  bytesToBlob,
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Upload agent chat attachments
 *
 * @remarks
 * Multipart upload of PDF, JPEG, or PNG files for agent chat. Same limits as assistant
 * chat (`POST /conversations/attachments/upload`): up to 10 files, 5 MiB each. Proxies to
 * the AI backend. Optional `conversationId` associates uploads with an existing agent thread.
 *
 * If set, this operation will use either {@link Security.bearerAuth} or {@link Security.oauth2} from the global security.
 */
export function agentsUploadAgentConversationChatAttachments(
  client: PipeshubCore,
  request: operations.UploadAgentConversationChatAttachmentsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.ChatAttachmentUploadResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: operations.UploadAgentConversationChatAttachmentsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.ChatAttachmentUploadResponse,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations.UploadAgentConversationChatAttachmentsRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = new FormData();

  for (const fileItem of payload.body.files ?? []) {
    if (isBlobLike(fileItem)) {
      const file = fileItem;
      const blob = await normalizeBlob(file);
      const name = "name" in file ? (file.name as string) : undefined;
      appendForm(body, "files", blob, name);
    } else if (isReadableStream(fileItem.content)) {
      const buffer = await readableStreamToArrayBuffer(fileItem.content);
      const contentType = getContentTypeFromFileName(fileItem.fileName)
        || "application/octet-stream";
      appendForm(
        body,
        "files",
        bytesToBlob(buffer, contentType),
        fileItem.fileName,
      );
    } else {
      const contentType = getContentTypeFromFileName(fileItem.fileName)
        || "application/octet-stream";
      appendForm(
        body,
        "files",
        bytesToBlob(fileItem.content, contentType),
        fileItem.fileName,
      );
    }
  }
  if (payload.body.conversationId !== undefined) {
    appendForm(body, "conversationId", payload.body.conversationId);
  }

  const pathParams = {
    agentKey: encodeSimple("agentKey", payload.agentKey, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc(
    "/agents/{agentKey}/conversations/attachments/upload",
  )(pathParams);

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput, [0, 1]);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "uploadAgentConversationChatAttachments",
    oAuth2Scopes: ["agent:execute"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    models.ChatAttachmentUploadResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.ChatAttachmentUploadResponse$inboundSchema),
    M.fail([400, 401, 403, "4XX"]),
    M.fail([500, "5XX"]),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
