/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get available models by type
 *
 * @remarks
 * Returns a **flattened list** of individual AI models of the requested type,
 * suitable for use in selection dropdowns and model-picker UIs.
 *
 * Each provider configuration entry may specify multiple comma-separated model
 * names; this endpoint expands those into one object per model name so callers
 * receive a flat, enumerable collection.
 *
 * **Flattening rules:**
 * - Only the **first** model in a multi-model provider entry is marked
 *   `isDefault: true`; all subsequent models from the same entry get `false`.
 * - `modelFriendlyName` is included **only** when the provider entry contains
 *   exactly one model name (not a comma-separated list).
 * - When no providers of the requested type are configured the endpoint still
 *   returns HTTP **200** with an empty `models` array — this is **not** an error.
 *
 * **Access control:** requires a valid bearer token. For OAuth tokens the
 * `config:read` scope must be present; regular JWT bearer tokens pass through
 * without scope enforcement.
 */
export function aiModelsProvidersGetAvailableModelsByType(
  client: PipeshubCore,
  request: operations.GetAvailableModelsByTypeRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetAvailableModelsByTypeResponse,
    | errors.GetAvailableModelsByTypeBadRequestError
    | errors.GetAvailableModelsByTypeUnauthorizedError
    | errors.GetAvailableModelsByTypeForbiddenError
    | errors.GetAvailableModelsByTypeInternalServerError
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: operations.GetAvailableModelsByTypeRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetAvailableModelsByTypeResponse,
      | errors.GetAvailableModelsByTypeBadRequestError
      | errors.GetAvailableModelsByTypeUnauthorizedError
      | errors.GetAvailableModelsByTypeForbiddenError
      | errors.GetAvailableModelsByTypeInternalServerError
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(operations.GetAvailableModelsByTypeRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    modelType: encodeSimple("modelType", payload.modelType, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc(
    "/configurationManager/ai-models/available/{modelType}",
  )(pathParams);

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getAvailableModelsByType",
    oAuth2Scopes: ["config:read"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.GetAvailableModelsByTypeResponse,
    | errors.GetAvailableModelsByTypeBadRequestError
    | errors.GetAvailableModelsByTypeUnauthorizedError
    | errors.GetAvailableModelsByTypeForbiddenError
    | errors.GetAvailableModelsByTypeInternalServerError
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.GetAvailableModelsByTypeResponse$inboundSchema),
    M.jsonErr(
      400,
      errors.GetAvailableModelsByTypeBadRequestError$inboundSchema,
    ),
    M.jsonErr(
      401,
      errors.GetAvailableModelsByTypeUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(403, errors.GetAvailableModelsByTypeForbiddenError$inboundSchema),
    M.jsonErr(
      500,
      errors.GetAvailableModelsByTypeInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
