/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * List available connector types
 *
 * @remarks
 * Get all available connector types from the registry.<br><br>
 * <b>Overview:</b><br>
 * The registry contains all connector types that can be configured as instances.
 * Each type has specific authentication requirements, supported scopes, and capabilities.<br><br>
 * <b>Connector Types Include:</b><br>
 * <ul>
 * <li><b>Google Workspace:</b> Drive, Gmail, Calendar, etc.</li>
 * <li><b>Microsoft 365:</b> OneDrive, Outlook, SharePoint, etc.</li>
 * <li><b>Cloud Storage:</b> Dropbox, Box, AWS S3</li>
 * <li><b>Collaboration:</b> Slack, Confluence, Notion, Jira</li>
 * <li><b>Databases:</b> PostgreSQL, MySQL, MongoDB</li>
 * </ul>
 * <b>Filtering:</b><br>
 * Use <code>scope</code> to filter by team or personal connectors.
 * Use <code>search</code> for full-text search across connector names.
 */
export function connectorRegistryGetConnectorRegistry(
  client: PipeshubCore,
  request?: operations.GetConnectorRegistryRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetConnectorRegistryResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request?: operations.GetConnectorRegistryRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetConnectorRegistryResponse,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        z.optional(operations.GetConnectorRegistryRequest$outboundSchema),
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/connectors/registry")();

  const query = encodeFormQuery({
    "limit": payload?.limit,
    "page": payload?.page,
    "scope": payload?.scope,
    "search": payload?.search,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getConnectorRegistry",
    oAuth2Scopes: ["connector:read"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["401", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    operations.GetConnectorRegistryResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.GetConnectorRegistryResponse$inboundSchema),
    M.fail([401, "4XX"]),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
