/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { EventStream } from "../lib/event-streams.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create conversation with streaming response
 *
 * @remarks
 * Start a new conversation and stream the AI response over Server-Sent
 * Events (SSE). Behaves like `POST /conversations` but emits tokens,
 * tool activity, and status updates incrementally instead of returning
 * a single JSON response at the end.
 *
 * **Lifecycle**
 *
 * 1. The server validates `query`, persists an in-progress
 *    conversation, then opens the SSE stream with HTTP `200`.
 * 2. A `connected` event is emitted immediately with the new
 *    `conversationId` so the client can link the stream (sidebar,
 *    parallel tabs, deep links) without an extra request.
 * 3. AI-backend events stream through (token chunks, tool calls,
 *    status, etc.).
 * 4. On success a single `complete` event is emitted carrying the
 *    full persisted conversation.
 * 5. On failure an `error` event is emitted and the conversation is
 *    marked FAILED before the stream closes.
 *
 * **Event vocabulary**
 *
 * Three events have stable, server-defined `data` shapes:
 *
 * - `connected` — `{ "message": string, "conversationId": string,
 *   "title": string }`
 * - `complete` — `{ "conversation": Conversation,
 *   "meta": { "requestId": string, "timestamp": string,
 *   "duration": number } }`
 * - `error` — `{ "error": string, "details"?: string }`
 *
 * The forwarded events are `status`, `answer_chunk`, `tool_calls`,
 * `restreaming`, `metadata`, and `tool_execution_complete`. Their
 * payloads come from the Python query service and may evolve. Note
 * that raw `tool_call` / `tool_success` / `tool_error` / `tool_result`
 * events emitted by the LLM tool runtime are rewrapped as `status` by
 * the upstream wrapper before they reach this route, so clients on
 * `/conversations/stream` never see those names directly. Clients
 * should ignore unknown event names rather than treating them as
 * errors.
 *
 * **Agent mode**
 *
 * When `chatMode` selects an agent mode (for example `agent:auto`),
 * the optional `tools` list restricts which tools the agent may
 * invoke for this turn. Outside agent modes the `tools` field is
 * ignored.
 */
export function conversationsStreamChat(
  client: PipeshubCore,
  request: models.CreateConversationRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    EventStream<models.AssistantStreamSSEEvent>,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: models.CreateConversationRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      EventStream<models.AssistantStreamSSEEvent>,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(models.CreateConversationRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/conversations/stream")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "text/event-stream",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "streamChat",
    oAuth2Scopes: ["conversation:chat"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    EventStream<models.AssistantStreamSSEEvent>,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.sse(
      200,
      z.pipe(
        z.custom<ReadableStream<Uint8Array>>(x => x instanceof ReadableStream),
        z.transform(stream => {
          return new EventStream(stream, rawEvent => {
            return {
              done: false,
              value: models.AssistantStreamSSEEvent$inboundSchema.parse(
                rawEvent,
              ),
            };
          });
        }),
      ),
    ),
    M.fail([400, 401, 403, "4XX"]),
    M.fail([500, "5XX"]),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
