/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create conversation (non-streaming)
 *
 * @remarks
 * Start a new assistant conversation and wait for the complete answer.
 * The JSON counterpart of `POST /conversations/stream`, for API, SDK
 * and automation callers that do not consume SSE.
 *
 * **How a turn runs**
 *
 * 1. The user's message is saved (in its own short transaction on a
 *    replica set).
 * 2. The AI backend runs the same agent-loop pipeline as the `/stream`
 *    route and returns only its final result. No transaction is held
 *    during this call, and the call is never retried.
 * 3. The answer, citations and status are saved exactly as the
 *    streaming route saves them, and the updated conversation is
 *    returned.
 *
 * Every failure after step 1 is persisted: the conversation ends with
 * status `Failed`, a `failReason`, and an `error` message, and the
 * response carries `X-Conversation-Id` so the caller can fetch it.
 * A 4xx from the AI backend (for example no model configured) keeps
 * its status and user-facing message; other failures return 500 with
 * a generic message.
 *
 * The response arrives only when the whole answer is ready, which can
 * take minutes for agent runs. Allow a generous client and proxy
 * timeout, or use the `/stream` variant for interactive clients.
 *
 * **Modes**
 *
 * `chatMode: agent` (or `agent:<mode>`) runs the universal agent and
 * honours `tools` / `agentCapabilities`; `internal_search` and
 * `web_search` run the search assistant and ignore `tools`. Omitted,
 * it defaults to internal search.
 *
 * If set, this operation will use either {@link Security.bearerAuth} or {@link Security.oauth2} from the global security.
 */
export function conversationsCreateConversation(
  client: PipeshubCore,
  request: models.CreateConversationRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.CreateConversationResponse,
    | errors.ErrorResponse
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: models.CreateConversationRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.CreateConversationResponse,
      | errors.ErrorResponse
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(models.CreateConversationRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/conversations/create")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput, [0, 1]);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "createConversation",
    oAuth2Scopes: ["conversation:write"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.CreateConversationResponse,
    | errors.ErrorResponse
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(201, operations.CreateConversationResponse$inboundSchema, {
      hdrs: true,
      key: "Result",
    }),
    M.jsonErr(400, errors.ErrorResponse$inboundSchema),
    M.jsonErr(424, errors.ErrorResponse$inboundSchema, { hdrs: true }),
    M.fail([413, 422, 429]),
    M.jsonErr(500, errors.ErrorResponse$inboundSchema, { hdrs: true }),
    M.fail([401, 403, "4XX"]),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
