/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { EventStream } from "../lib/event-streams.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create conversation with streaming response
 *
 * @remarks
 * Start a new conversation with real-time streaming response using Server-Sent Events (SSE).<br><br>
 * <b>Overview:</b><br>
 * This endpoint works like <code>/conversations/create</code> but streams the AI response
 * in real-time as it's generated, providing a more interactive user experience.<br><br>
 * <b>SSE Event Types:</b><br>
 * <ul>
 * <li><code>connected</code> - Connection established, processing started</li>
 * <li><code>chunk</code> - Partial response text (stream these to show typing effect)</li>
 * <li><code>citation</code> - Citation reference found during generation</li>
 * <li><code>complete</code> - Final message with full response, citations, and follow-up questions</li>
 * <li><code>error</code> - Error occurred during processing</li>
 * </ul>
 * <b>Client Implementation:</b><br>
 * <code>
 * const eventSource = new EventSource('/conversations/stream');<br>
 * eventSource.onmessage = (event) => {<br>
 * &nbsp;&nbsp;const data = JSON.parse(event.data);<br>
 * &nbsp;&nbsp;// Handle different event types<br>
 * };
 * </code><br><br>
 * <b>Error Handling:</b><br>
 * If an error occurs mid-stream, an <code>error</code> event is sent and the stream closes.
 * The conversation is marked as FAILED with the error reason stored.
 */
export function conversationsStreamChat(
  client: PipeshubCore,
  request: models.CreateConversationRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    EventStream<models.SSEEvent>,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: models.CreateConversationRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      EventStream<models.SSEEvent>,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(models.CreateConversationRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/conversations/stream")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "text/event-stream",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "streamChat",
    oAuth2Scopes: ["conversation:chat"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "4XX", "502", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    EventStream<models.SSEEvent>,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.sse(
      200,
      z.pipe(
        z.custom<ReadableStream<Uint8Array>>(x => x instanceof ReadableStream),
        z.transform(stream => {
          return new EventStream(stream, rawEvent => {
            return { value: models.SSEEvent$inboundSchema.parse(rawEvent) };
          });
        }),
      ),
    ),
    M.fail([400, 401, "4XX"]),
    M.fail([502, "5XX"]),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
