/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { EventStream } from "../lib/event-streams.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Regenerate AI response
 *
 * @remarks
 * Regenerate the AI response for a specific message and stream the new
 * answer over Server-Sent Events.
 *
 * **Overview:**
 *
 * If you're not satisfied with an AI response, use this endpoint to generate
 * a new answer. The original user query is re-processed and a new bot
 * response replaces the previous one in place.
 *
 * **Constraints:**
 *
 * - Only the *last* message of the conversation can be regenerated.
 * - The target message must be of type `bot_response`.
 *
 * **Use Cases:**
 *
 * - Response was incomplete or unclear
 * - Want to try a different AI model
 * - New documents have been indexed since original response
 *
 * **Model Override:**
 *
 * Specify `modelKey` to use a different model for regeneration.
 *
 * **Streaming:**
 *
 * The response is delivered as an SSE (`text/event-stream`) stream. The
 * exact event vocabulary depends on `chatMode`:
 *
 * - For non-agent modes (e.g. `internal_search`, `web_search`) the
 *   request is dispatched to the assistant chat backend.
 * - For agent modes (e.g. `agent:auto`) the request is dispatched to
 *   the agent backend with a placeholder agent built from the caller's
 *   workspace, which can additionally emit `tool_result` and
 *   `tool_execution_complete` events.
 *
 * See `SSEEvent` for the full union of event names this endpoint can
 * emit across both backends.
 */
export function conversationsRegenerateAnswer(
  client: PipeshubCore,
  request: operations.RegenerateAnswerRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    EventStream<models.SSEEvent>,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: operations.RegenerateAnswerRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      EventStream<models.SSEEvent>,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(operations.RegenerateAnswerRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.body, { explode: true });

  const pathParams = {
    conversationId: encodeSimple("conversationId", payload.conversationId, {
      explode: false,
      charEncoding: "percent",
    }),
    messageId: encodeSimple("messageId", payload.messageId, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc(
    "/conversations/{conversationId}/message/{messageId}/regenerate",
  )(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "text/event-stream",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "regenerateAnswer",
    oAuth2Scopes: ["conversation:chat"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "404", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    EventStream<models.SSEEvent>,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.sse(
      200,
      z.pipe(
        z.custom<ReadableStream<Uint8Array>>(x => x instanceof ReadableStream),
        z.transform(stream => {
          return new EventStream(stream, rawEvent => {
            return {
              done: false,
              value: models.SSEEvent$inboundSchema.parse(rawEvent),
            };
          });
        }),
      ),
    ),
    M.fail([400, 401, 404, "4XX"]),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
