/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { appendForm, encodeSimple } from "../lib/encodings.js";
import {
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Direct upload document
 *
 * @remarks
 * <b>⚠️ Deprecated:</b> This endpoint is deprecated and will be removed in a future release.<br><br>
 * Upload a document directly without intermediate processing.
 *
 * @deprecated method: This will be removed in a future release, please migrate away from it as soon as possible.
 */
export function documentManagementUploadDirectDocument(
  client: PipeshubCore,
  request: operations.UploadDirectDocumentRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.UploadDirectDocumentResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: operations.UploadDirectDocumentRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.UploadDirectDocumentResponse,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(operations.UploadDirectDocumentRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = new FormData();
  if (payload.body != null) {
    if (payload.body.file !== undefined) {
      if (isBlobLike(payload.body.file)) {
        appendForm(body, "file", payload.body.file);
      } else if (isReadableStream(payload.body.file.content)) {
        const buffer = await readableStreamToArrayBuffer(
          payload.body.file.content,
        );
        const contentType =
          getContentTypeFromFileName(payload.body.file.fileName)
          || "application/octet-stream";
        const blob = new Blob([buffer], { type: contentType });
        appendForm(body, "file", blob, payload.body.file.fileName);
      } else {
        const contentType =
          getContentTypeFromFileName(payload.body.file.fileName)
          || "application/octet-stream";
        appendForm(
          body,
          "file",
          new Blob([payload.body.file.content], { type: contentType }),
          payload.body.file.fileName,
        );
      }
    }
  }

  const pathParams = {
    documentId: encodeSimple("documentId", payload.documentId, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/document/{documentId}/directUpload")(pathParams);

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "uploadDirectDocument",
    oAuth2Scopes: ["document:write"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["401", "404", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    operations.UploadDirectDocumentResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.UploadDirectDocumentResponse$inboundSchema),
    M.fail([401, 404, "4XX"]),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
