/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get knowledge hub root nodes
 *
 * @remarks
 * Returns root-level nodes (connector apps and Collection apps) or, when
 * filters or search are applied, a flat list of matching nodes across the
 * entire knowledge hub tree.
 *
 * **Overview**
 *
 * The Knowledge Hub provides a unified view across all knowledge sources:
 * - **Collection** — locally uploaded knowledge bases (`origin: COLLECTION`)
 * - **Connector app** — external connector instances such as Google Drive,
 *   Slack, Confluence, Jira (`origin: CONNECTOR`)
 *
 * Use this endpoint to build file-browser UIs and sidebar navigation trees.
 *
 * **Browsing vs. searching**
 *
 * When no filters or search query are provided, only top-level app nodes
 * are returned. Adding `nodeTypes`, `q`, or other filter params triggers a
 * search across the full tree, returning matching nodes regardless of depth.
 *
 * For children of a specific node, use
 * `GET /knowledgeBase/knowledge-hub/nodes/{parentType}/{parentId}`.
 *
 * **Pagination and sorting**
 *
 * Results are always paginated. Default sort is `updatedAt` descending.
 * The `pagination` object in the response contains `hasNext` / `hasPrev`
 * flags suitable for infinite-scroll or page-based navigation.
 *
 * **Expanding the response**
 *
 * Use the `include` parameter to request additional sections:
 * - `availableFilters` — adds `filters.available` with all filter options
 * - `counts` — adds a `counts` summary broken down by node type
 * - `breadcrumbs` — adds the breadcrumb trail (empty at root level)
 * - `permissions` — adds the caller's permission flags
 *
 * **Access control**
 *
 * Requires a valid bearer token. For OAuth tokens the `kb:read` scope
 * must be present; regular JWT bearer tokens pass through without scope
 * enforcement.
 */
export function knowledgeHubGetKnowledgeHubRootNodes(
  client: PipeshubCore,
  request?: operations.GetKnowledgeHubRootNodesRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.KnowledgeHubNodesResponse,
    | errors.GetKnowledgeHubRootNodesBadRequestError
    | errors.GetKnowledgeHubRootNodesUnauthorizedError
    | errors.GetKnowledgeHubRootNodesForbiddenError
    | errors.GetKnowledgeHubRootNodesInternalServerError
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request?: operations.GetKnowledgeHubRootNodesRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.KnowledgeHubNodesResponse,
      | errors.GetKnowledgeHubRootNodesBadRequestError
      | errors.GetKnowledgeHubRootNodesUnauthorizedError
      | errors.GetKnowledgeHubRootNodesForbiddenError
      | errors.GetKnowledgeHubRootNodesInternalServerError
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        z.optional(operations.GetKnowledgeHubRootNodesRequest$outboundSchema),
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/knowledgeBase/knowledge-hub/nodes")();

  const query = encodeFormQuery({
    "connectorIds": payload?.connectorIds,
    "createdAt": payload?.createdAt,
    "include": payload?.include,
    "indexingStatus": payload?.indexingStatus,
    "limit": payload?.limit,
    "nodeTypes": payload?.nodeTypes,
    "onlyContainers": payload?.onlyContainers,
    "origins": payload?.origins,
    "page": payload?.page,
    "q": payload?.q,
    "recordTypes": payload?.recordTypes,
    "size": payload?.size,
    "sortBy": payload?.sortBy,
    "sortOrder": payload?.sortOrder,
    "updatedAt": payload?.updatedAt,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getKnowledgeHubRootNodes",
    oAuth2Scopes: ["kb:read"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.KnowledgeHubNodesResponse,
    | errors.GetKnowledgeHubRootNodesBadRequestError
    | errors.GetKnowledgeHubRootNodesUnauthorizedError
    | errors.GetKnowledgeHubRootNodesForbiddenError
    | errors.GetKnowledgeHubRootNodesInternalServerError
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.KnowledgeHubNodesResponse$inboundSchema),
    M.jsonErr(
      400,
      errors.GetKnowledgeHubRootNodesBadRequestError$inboundSchema,
    ),
    M.jsonErr(
      401,
      errors.GetKnowledgeHubRootNodesUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(403, errors.GetKnowledgeHubRootNodesForbiddenError$inboundSchema),
    M.jsonErr(
      500,
      errors.GetKnowledgeHubRootNodesInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
