/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { appendForm, encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { EventStream } from "../lib/event-streams.js";
import {
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Upload files to knowledge base or folder
 *
 * @remarks
 * Upload one or more files to a knowledge base root or to a specific folder.
 *
 * **Overview**
 *
 * Batch upload multiple files in a single request. Each file becomes a new record with automatic content indexing.
 * Omit the `folderId` query parameter to upload to the KB root; include it to upload into that folder.
 *
 * **Upload Limits**
 *
 * - **Max files per request:** 1000
 * - **Default max file size:** 30MB (configurable via platform settings)
 * - Use `GET /knowledgeBase/limits` to check current limits
 *
 * **Supported File Types**
 *
 * Documents (PDF, DOCX, DOC, XLS, XLSX, PPT, PPTX, TXT, CSV, MD), Images (PNG, JPG, JPEG, SVG, WebP), Web (HTML, HTM), and Google Workspace formats.
 *
 * **File Metadata**
 *
 * Use `files_metadata` to provide additional info like file paths and last modified timestamps.
 *
 * **Versioning**
 *
 * Set `isVersioned: true` to enable version tracking for uploaded files.
 *
 * **Streaming response**
 *
 * This endpoint responds with `Content-Type: text/event-stream`.
 * The upload and its per-file progress are a single request: the body streams
 * a `file:succeeded` or `file:failed` event per file
 * (including files rejected up front for size/type), followed by a final
 * `done` summary, then closes. See the
 * `UploadStreamSSEEvent` schema for the event/payload contract.
 */
export function knowledgeBaseUploadRecords(
  client: PipeshubCore,
  request: operations.UploadRecordsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    EventStream<models.UploadStreamSSEEvent>,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: operations.UploadRecordsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      EventStream<models.UploadStreamSSEEvent>,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(operations.UploadRecordsRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = new FormData();

  for (const fileItem of payload.body.files ?? []) {
    if (isBlobLike(fileItem)) {
      appendForm(body, "files", fileItem);
    } else if (isReadableStream(fileItem.content)) {
      const buffer = await readableStreamToArrayBuffer(fileItem.content);
      const contentType = getContentTypeFromFileName(fileItem.fileName)
        || "application/octet-stream";
      const blob = new Blob([buffer], { type: contentType });
      appendForm(body, "files", blob, fileItem.fileName);
    } else {
      const contentType = getContentTypeFromFileName(fileItem.fileName)
        || "application/octet-stream";
      appendForm(
        body,
        "files",
        new Blob([fileItem.content], { type: contentType }),
        fileItem.fileName,
      );
    }
  }
  if (payload.body.files_metadata !== undefined) {
    appendForm(body, "files_metadata", payload.body.files_metadata);
  }
  if (payload.body.isVersioned !== undefined) {
    appendForm(body, "isVersioned", payload.body.isVersioned);
  }
  if (payload.body.recordType !== undefined) {
    appendForm(body, "recordType", payload.body.recordType);
  }

  const pathParams = {
    kbId: encodeSimple("kbId", payload.kbId, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/knowledgeBase/{kbId}/upload")(pathParams);

  const query = encodeFormQuery({
    "folderId": payload.folderId,
  });

  const headers = new Headers(compactMap({
    Accept: "text/event-stream",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "uploadRecords",
    oAuth2Scopes: ["kb:upload"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "404", "413", "429", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    EventStream<models.UploadStreamSSEEvent>,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.sse(
      200,
      z.pipe(
        z.custom<ReadableStream<Uint8Array>>(x => x instanceof ReadableStream),
        z.transform(stream => {
          return new EventStream(stream, rawEvent => {
            return {
              value: models.UploadStreamSSEEvent$inboundSchema.parse(rawEvent),
            };
          });
        }),
      ),
    ),
    M.fail([400, 401, 403, 404, 413, 429, "4XX"]),
    M.fail([500, "5XX"]),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
