/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get knowledge hub child nodes
 *
 * @remarks
 * Returns the children of a specific node in the knowledge hub tree.
 * Use this endpoint to drill down into Collections, connector app
 * hierarchies, folders, and record groups.
 *
 * **Navigation hierarchy**
 *
 * The typical drill-down path is:
 * 1. Root apps (`GET /knowledgeBase/knowledge-hub/nodes`)
 * 2. Record groups / folders within an app (`parentType=app`)
 * 3. Records within a record group (`parentType=recordGroup`)
 * 4. Sub-records or attachments within a record (`parentType=record`)
 *
 * **Parent identification**
 *
 * - `parentType` must be one of: `app`, `recordGroup`, `folder`, `record`
 * - `parentId` is either a standard UUID or the Collection app sentinel
 *   `knowledgeBase_<orgId>` (e.g. `knowledgeBase_org123`)
 *
 * **Filtering and searching**
 *
 * All query-param filters from the root endpoint are available here and
 * operate within the scope of the parent node's subtree. When `q` is
 * provided, the search spans all descendants of the parent node.
 *
 * **Response extras**
 *
 * When `include=breadcrumbs` is set, the response contains a
 * `breadcrumbs` array tracing the path from the root to the current
 * node. The `currentNode` and `parentNode` objects are always populated
 * for non-root requests.
 *
 * **Access control**
 *
 * Requires a valid bearer token. For OAuth tokens the `kb:read` scope
 * must be present; regular JWT bearer tokens pass through without scope
 * enforcement.
 */
export function knowledgeHubGetKnowledgeHubChildNodes(
  client: PipeshubCore,
  request: operations.GetKnowledgeHubChildNodesRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.KnowledgeHubNodesResponse,
    | errors.GetKnowledgeHubChildNodesBadRequestError
    | errors.GetKnowledgeHubChildNodesUnauthorizedError
    | errors.GetKnowledgeHubChildNodesForbiddenError
    | errors.GetKnowledgeHubChildNodesNotFoundError
    | errors.GetKnowledgeHubChildNodesInternalServerError
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: operations.GetKnowledgeHubChildNodesRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.KnowledgeHubNodesResponse,
      | errors.GetKnowledgeHubChildNodesBadRequestError
      | errors.GetKnowledgeHubChildNodesUnauthorizedError
      | errors.GetKnowledgeHubChildNodesForbiddenError
      | errors.GetKnowledgeHubChildNodesNotFoundError
      | errors.GetKnowledgeHubChildNodesInternalServerError
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations.GetKnowledgeHubChildNodesRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    parentId: encodeSimple("parentId", payload.parentId, {
      explode: false,
      charEncoding: "percent",
    }),
    parentType: encodeSimple("parentType", payload.parentType, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc(
    "/knowledgeBase/knowledge-hub/nodes/{parentType}/{parentId}",
  )(pathParams);

  const query = encodeFormQuery({
    "connectorIds": payload.connectorIds,
    "createdAt": payload.createdAt,
    "include": payload.include,
    "indexingStatus": payload.indexingStatus,
    "limit": payload.limit,
    "nodeTypes": payload.nodeTypes,
    "onlyContainers": payload.onlyContainers,
    "origins": payload.origins,
    "page": payload.page,
    "q": payload.q,
    "recordTypes": payload.recordTypes,
    "size": payload.size,
    "sortBy": payload.sortBy,
    "sortOrder": payload.sortOrder,
    "updatedAt": payload.updatedAt,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getKnowledgeHubChildNodes",
    oAuth2Scopes: ["kb:read"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "404", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.KnowledgeHubNodesResponse,
    | errors.GetKnowledgeHubChildNodesBadRequestError
    | errors.GetKnowledgeHubChildNodesUnauthorizedError
    | errors.GetKnowledgeHubChildNodesForbiddenError
    | errors.GetKnowledgeHubChildNodesNotFoundError
    | errors.GetKnowledgeHubChildNodesInternalServerError
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.KnowledgeHubNodesResponse$inboundSchema),
    M.jsonErr(
      400,
      errors.GetKnowledgeHubChildNodesBadRequestError$inboundSchema,
    ),
    M.jsonErr(
      401,
      errors.GetKnowledgeHubChildNodesUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(
      403,
      errors.GetKnowledgeHubChildNodesForbiddenError$inboundSchema,
    ),
    M.jsonErr(404, errors.GetKnowledgeHubChildNodesNotFoundError$inboundSchema),
    M.jsonErr(
      500,
      errors.GetKnowledgeHubChildNodesInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
