/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get KB children (alias for records)
 *
 * @remarks
 * Retrieve a paginated list of children (folders and records) within a specific knowledge base.<br><br>
 * <b>Overview:</b><br>
 * This is an alias endpoint for <code>/knowledgeBase/{kbId}/records</code>. It returns all direct children of the KB root, including both folders and records.<br><br>
 * <b>Filtering:</b><br>
 * <ul>
 * <li><b>search:</b> Search by record name (partial match, max 1000 chars)</li>
 * <li><b>recordTypes:</b> FILE, WEBPAGE, COMMENT, MESSAGE, EMAIL, TICKET</li>
 * <li><b>origins:</b> UPLOAD (manual uploads) or CONNECTOR (synced)</li>
 * <li><b>indexingStatus:</b> Filter by processing state</li>
 * <li><b>dateFrom/dateTo:</b> Creation date range (Unix timestamps)</li>
 * </ul>
 * <b>Sorting:</b><br>
 * Default sorts by <code>createdAtTimestamp</code> descending (newest first).
 */
export function recordsGetKBChildren(
  client: PipeshubCore,
  request: operations.GetKBChildrenRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetKBChildrenResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: operations.GetKBChildrenRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetKBChildrenResponse,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(operations.GetKBChildrenRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    kbId: encodeSimple("kbId", payload.kbId, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/knowledgeBase/{kbId}/children")(pathParams);

  const query = encodeFormQuery({
    "dateFrom": payload.dateFrom,
    "dateTo": payload.dateTo,
    "indexingStatus": payload.indexingStatus,
    "limit": payload.limit,
    "origins": payload.origins,
    "page": payload.page,
    "recordTypes": payload.recordTypes,
    "search": payload.search,
    "sortBy": payload.sortBy,
    "sortOrder": payload.sortOrder,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getKBChildren",
    oAuth2Scopes: ["kb:read"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["401", "403", "404", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    operations.GetKBChildrenResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.GetKBChildrenResponse$inboundSchema),
    M.fail([401, 403, 404, "4XX"]),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
