/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get all records across knowledge bases
 *
 * @remarks
 * Retrieve records from all knowledge bases accessible to the user.<br><br>
 * <b>Overview:</b><br>
 * Search and filter records across your entire organization. Useful for global search, reporting, and cross-KB content discovery.<br><br>
 * <b>Filtering Options:</b><br>
 * <ul>
 * <li><b>search:</b> Full-text search in record names</li>
 * <li><b>recordTypes:</b> FILE, WEBPAGE, EMAIL, MESSAGE, TICKET, etc.</li>
 * <li><b>origins:</b> UPLOAD or CONNECTOR</li>
 * <li><b>connectors:</b> Filter by connector source</li>
 * <li><b>indexingStatus:</b> COMPLETED, FAILED, IN_PROGRESS, etc.</li>
 * <li><b>dateFrom/dateTo:</b> Filter by creation date range</li>
 * </ul>
 * <b>Response Includes:</b><br>
 * <ul>
 * <li>Paginated record list</li>
 * <li>Applied and available filter counts</li>
 * <li>Pagination metadata</li>
 * </ul>
 */
export function recordsGetAllRecords(
  client: PipeshubCore,
  request?: operations.GetAllRecordsRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.RecordsResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request?: operations.GetAllRecordsRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.RecordsResponse,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        z.optional(operations.GetAllRecordsRequest$outboundSchema),
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/knowledgeBase/records")();

  const query = encodeFormQuery({
    "connectors": payload?.connectors,
    "dateFrom": payload?.dateFrom,
    "dateTo": payload?.dateTo,
    "indexingStatus": payload?.indexingStatus,
    "limit": payload?.limit,
    "origins": payload?.origins,
    "page": payload?.page,
    "recordTypes": payload?.recordTypes,
    "search": payload?.search,
    "sortBy": payload?.sortBy,
    "sortOrder": payload?.sortOrder,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getAllRecords",
    oAuth2Scopes: ["kb:read"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["401", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    models.RecordsResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.RecordsResponse$inboundSchema),
    M.fail([401, "4XX"]),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
