/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { appendForm, encodeSimple } from "../lib/encodings.js";
import {
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Upload files to knowledge base
 *
 * @remarks
 * Upload one or more files directly to a knowledge base.<br><br>
 * <b>Overview:</b><br>
 * Batch upload multiple files in a single request. Each file becomes a new record in the KB with automatic content indexing.<br><br>
 * <b>Upload Limits:</b><br>
 * <ul>
 * <li><b>Max files per request:</b> 1000</li>
 * <li><b>Default max file size:</b> 30MB (configurable via platform settings)</li>
 * <li>Use <code>GET /knowledgeBase/limits</code> to check current limits</li>
 * </ul>
 * <b>Supported File Types:</b><br>
 * Documents (PDF, DOCX, TXT), Images (PNG, JPG), Videos (MP4), and more.<br><br>
 * <b>File Metadata:</b><br>
 * Use <code>files_metadata</code> to provide additional info like file paths and last modified timestamps.<br><br>
 * <b>Versioning:</b><br>
 * Set <code>isVersioned: true</code> to enable version tracking for uploaded files.
 */
export function uploadUploadRecordsToKB(
  client: PipeshubCore,
  request: operations.UploadRecordsToKBRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.UploadResult,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: operations.UploadRecordsToKBRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.UploadResult,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(operations.UploadRecordsToKBRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = new FormData();

  for (const fileItem of payload.body.files ?? []) {
    if (isBlobLike(fileItem)) {
      appendForm(body, "files", fileItem);
    } else if (isReadableStream(fileItem.content)) {
      const buffer = await readableStreamToArrayBuffer(fileItem.content);
      const contentType = getContentTypeFromFileName(fileItem.fileName)
        || "application/octet-stream";
      const blob = new Blob([buffer], { type: contentType });
      appendForm(body, "files", blob, fileItem.fileName);
    } else {
      const contentType = getContentTypeFromFileName(fileItem.fileName)
        || "application/octet-stream";
      appendForm(
        body,
        "files",
        new Blob([fileItem.content], { type: contentType }),
        fileItem.fileName,
      );
    }
  }
  if (payload.body.files_metadata !== undefined) {
    appendForm(body, "files_metadata", payload.body.files_metadata);
  }
  if (payload.body.isVersioned !== undefined) {
    appendForm(body, "isVersioned", payload.body.isVersioned);
  }
  if (payload.body.recordType !== undefined) {
    appendForm(body, "recordType", payload.body.recordType);
  }

  const pathParams = {
    kbId: encodeSimple("kbId", payload.kbId, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/knowledgeBase/{kbId}/upload")(pathParams);

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "uploadRecordsToKB",
    oAuth2Scopes: ["kb:upload"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "404", "413", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    models.UploadResult,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.UploadResult$inboundSchema),
    M.fail([400, 401, 403, 404, 413, "4XX"]),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
